{% import 'macros/sectionCard.html.twig' as macros %}

{% extends "base.html.twig" %}
{% block css %}<link rel="stylesheet" href="{{ asset('style/pages/home.css') }}">{% endblock %}
{% block js %}<script src="{{ asset('js/home.js') }}"></script>{% endblock %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block body %}
    {% include "components/nav.html.twig" %}
    <h1 class="custom-title">Organisez  Vos sorties  entre stagiaire !</h1>

    <main>
        <section class="p32-0">
            <h2 class="mb-32">Les sorties du moment</h2>
            {{ macros.renderCard(next20Outings, 'next20Outings--hidden', 'next20Outings_show-more') }}
        </section>

        {% if app.user %}
        <section class="p32-0">
            <h2 class="mb-32">Les sorties liées à mon campus</h2>
            {{ macros.renderCard(next20OutingsByUserCampus, 'next20OutingsByUserCampus--hidden', 'next20OutingsByUserCampus_show-more') }}
        </section>
        {% endif %}

        {% if app.user %}
        <section class="p32-0">
            <h2 class="mb-32">Les sorties que j'ai créé</h2>
            {{ macros.renderCard(outingsByAuthor, 'outingsByAuthor--hidden', 'outingsByAuthor_show-more') }}
        </section>
        {% endif %}

        {% if app.user %}
        <section class="p32-0">
            <h2 class="mb-32">Les sorties auxquelles je participe</h2>
            {{ macros.renderCard(outingsByRegistrant, 'outingsByRegistrant--hidden', 'outingsByRegistrant_show-more') }}
        </section>
        {% endif %}

        <section class="p32-0">
            <h2 class="mb-32">Rechercher une sortie</h2>

            {{ form_start(searchForm, {'attr': {'class': 'f a-start j-even search-form mb-32'}}) }}
            {{ form_row(searchForm.campus, {
                    'label': false,
                    'attr': {
                        'class': 'mb-32'
                    },
                }) }}
                {{ form_row(searchForm.search, {
                    'label': false,
                    'attr': {
                        'placeholder': 'Ex: Marathon',
                        'class': 'mb-32'
                    },
                }) }}

                <button type="submit">Rechercher</button>
            {{ form_end(searchForm) }}

            {% if outingsSearch %}
                {{ macros.renderCard(outingsSearch, 'outingsSearch--hidden', 'outingsSearch_show-more') }}
            {% else %}
                <p class="tac p32-0">Aucune sortie trouvée</p>
            {% endif %}
        </section>
    </main>

    {% include "components/footer.html.twig" %}
{% endblock %}