{% extends 'base.html.twig' %}

{% block title %}Connexion {{ parent() }}{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ asset('style/authentication.css') }}">{% endblock %}

{% block body %}
<a href="{{ path('outing_home') }}"><img src="{{ asset('images/logo.png') }}" alt="Logo de l'ENI" class="logo"/></a>

<section class="form df-fdc-aic-jcse">
    <form method="post" class="df-fdc-aic-jcse">

        {% if error %}
            <ul><li>{{ error.messageKey|trans(error.messageData, 'security') }}<li></ul>
        {% endif %}

        <input 
            type="email"
            value="{{ last_username }}" 
            name="email" 
            id="inputEmail" 
            autocomplete="email" 
            required 
            placeholder="Mail" 
            class="mb-32"
        >
        
        <input 
            ype="password" 
            name="password" 
            id="inputPassword" 
            autocomplete="current-password" 
            required 
            placeholder="Mot de passe" 
            class="mb-32"
        >

        <input 
            type="hidden" 
            name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
            class="mb-32"
        >

        <div class="mb-32">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>

        <button type="submit" class="mb-32">Se connecter</button>
    </form>

    <a href="{{ path('user_register') }}"><button class="btn-scdr">S'inscrire</button></a>
</section>
{% endblock %}
