{% extends 'base.html.twig' %}
{% block css %}<link rel="stylesheet" href="{{ asset('style/pages/outingManagement.css') }}">{% endblock %}
{% block js %}<script src="{{ asset('js/outingManagement.js') }}"></script>{% endblock %}

{% block title %}
    {% if action == 'create' %}
        Créer une sortie
    {% elseif action == 'update' %}
        Modifier une sortie
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include "components/nav.html.twig" %}

    {% if outing != 'no-result' %}
    <section class="f-row-r j-even content">
        <div class="f-col a-cent mb-32">

            <h1 class="mb-64">
            {% if action == 'create' %}
                Créer une sortie
            {% elseif action == 'update' %}
                Modifier une sortie
            {% endif %}
            </h1>

            {% if action == 'create' %}
                <div class="outing_img"></div>
            {% elseif action == 'update' %}
                <div class="outing_img" style="background-image: url('{{ asset('uploads/outing_pictures/' ~ outing.outingImage) }}'); background-size: cover; background-position: center;"></div>
            {% endif %}

        </div>

        <div class="form-and-buttons f-col a-cent">
            {{ form_start(outingForm, {'attr': {'class': 'f a-start j-cent mb-32 form'}}) }}
                <div class="f-col a-cent j-even">
                    {{ form_row(outingForm.name, {
                        'label': false,
                        'attr': {
                            'placeholder': 'Nom de la sortie',
                            'class': 'mb-32'
                        },
                    }) }}
                    {{ form_row(outingForm.outingDate, {
                        'attr': {
                            'class': 'mb-32'
                        },
                    }) }}
                    {{ form_row(outingForm.registrationDeadline, {
                        'attr': {
                            'class': 'mb-32'
                        },
                    }) }}
                    {{ form_row(outingForm.numberPlaces, {
                        'label': false,
                        'attr': {
                            'placeholder': 'Nombre de place',
                            'class': 'mb-32'
                        },
                    }) }}
                    {{ form_row(outingForm.duration, {
                        'label': false,
                        'attr': {
                            'placeholder': 'Durée de la sortie (min)',
                            'class': 'mb-32'
                        },
                    }) }}
                    {{ form_row(outingForm.description, {
                        'label': false,
                        'attr': {
                            'placeholder': 'Description',
                            'class': 'mb-32 textarea'
                        },
                    }) }}
                </div>
                <div class="f-col a-cent j-even ml-32 form-second-part">
                    {{ form_row(outingForm.campus, {
                        'label': false,
                        'attr': {
                            'class': 'mb-32'
                        },
                    }) }}
                    {{ form_row(outingForm.outingImage, {
                        'attr': {
                            'class': 'mb-32'
                        },
                    }) }}
                    {{ form_row(outingForm.namePlace, {
                        'label': false,
                        'attr': {
                            'placeholder': 'Nom du lieu',
                            'class': 'mb-32'
                        },
                    }) }}
                    {{ form_row(outingForm.street, {
                        'label': false,
                        'attr': {
                            'placeholder': 'Rue',
                            'class': 'mb-32'
                        },
                    }) }}
                    {{ form_row(outingForm.postalCode, {
                        'label': false,
                        'attr': {
                            'placeholder': 'Code postal',
                            'class': 'mb-32'
                        },
                    }) }}
                    {{ form_row(outingForm.city, {
                        'label': false,
                        'attr': {
                            'placeholder': 'Ville',
                            'class': 'mb-32'
                        },
                    }) }}
                    
                    <button type="submit">
                    {% if action == 'create' %}
                        Créer une sortie
                    {% elseif action == 'update' %}
                        Modifier la sortie
                    {% endif %}
                    </button>

                </div>
            {{ form_end(outingForm) }}

            {% if outingCancelForm is defined %}
                {% if outing.cancelReason %}
                    <a href="{{ path('outing_removeCancelReason', {'id': outing.id}) }}"><button class="btn-danger mb-64">Maintenir la sortie</button></a>
                {% else %}
                    {{ form_start(outingCancelForm, {'attr': {'class': 'f-col a-cent mb-32 form cancelform-hidden'}}) }}
                        {{ form_row(outingCancelForm.cancelReason, {
                                'label': false,
                                'attr': {
                                    'placeholder': 'Morif de l\'annulation',
                                    'class': 'mb-32 textarea'
                                },
                            }) }}
                        <button type="submit" class="btn-danger">Annuler la sortie</button>
                    {{ form_end(outingCancelForm) }}

                    <button class="btn-danger mb-64" id="outing-cancel">Annuler la sortie</button>
                {% endif %}
            {% endif %}

        </div>
    </section>
     {% else %}
    <main class="f-col a-cent j-cent">
        <h1 class="mb-64">Erreur 404</h1>
        <h2> Il n'y a pas de sortie à cette url ...</h2>
    </main>
    {% endif %}

    {% include "components/footer.html.twig" %}
{% endblock %}