<nav class="f a-cent j-betw">
        <a href="{{ path('outing_home') }}"><img src="{{ asset('images/logo.png') }}" alt="Logo de l'ENI"/></a>
        <ul class="f a-cent j-betw">

            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('admin_panel') }}">Admin</a></li>
                <li class="ml-32"><a href="{{ path('outing_create') }}">Créer une sortie</a></li>
                <li class="ml-32"><a href="{{ path('user_profile') }}">Profil</a></li>
            {% else %}
                <li><a href="{{ path('user_register') }}">Inscription</a></li>
                <li class="ml-32"><a href="{{ path('user_login') }}">Connexion</a></li>
            {% endif %}
        </ul>
</nav>